@font-face{
    font-family:'Algerian';
    src:url(assets/Algerian.ttf);
}

html, body{
    height:auto;
    width:100%;
    scroll-behavior: smooth;
    overflow-x:hidden;
    position:absolute; /*added in this part*/
    background-color: #F2F2F2!important;
    z-index: -1;
}
/* dino part floating animation */
.area{ 
    width: 100%;
    height:100%;
    overflow:hidden;
}

.dinopart{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dinopart li{
    position: absolute;
    display: block;
    animation: float 50s linear infinite;
    bottom: -120px;
}

.dinopart li:nth-child(1){
    left: 45%;
    animation-delay: 0s;
    animation-duration: 40s;
}


.dinopart li:nth-child(2){
    left: 10%;
    animation-delay: 10s;
    animation-duration: 40s;
}

.dinopart li:nth-child(3){
    left: 85%;
    animation-delay: 5s;
    animation-duration: 40s;
}

.dinopart li:nth-child(4){
    left: 65%;
    animation-delay: 15s;
    animation-duration: 40s;
}

.dinopart li:nth-child(5){
    left: 18%;
    animation-delay: 25s;
    animation-duration: 40s;
}

@keyframes float {
    0%{
        transform: translateY(-300px) rotate(0deg);
        opacity: 0.7;
        bottom:-100px;
    }
    50%{
        transform: translateY(-2000px) rotate(180deg);
        opacity: 0.5;
    }
    100%{
        transform: translateY(-2900px) rotate(360deg);
        opacity: 0;
    }
}
/* dino part animation ends here */

/*blank space in between section increase height so there is space in between sections */
#story-section, #video-section, #houses-section, #details-section, #sponsors-section{
    height:20vh;
    min-height: 84px;
}

.responsive-title{
    width:55vw;
    padding-bottom:20px;
    padding-top:10px;
}

/* vid part in countdown section */
#background-video {
    width: 100vw;
    height:95vh;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    opacity:0.5;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.vid:before{
    content:"";
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    width: 100vw;
    height:95vh;
    max-height: 300vh;
    z-index:-1;
    top:0;
    right:0;
    left:0;
    bottom:0;
    object-fit: cover;
    position: absolute;
}

/*countdown section*/
.countdown-section{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top:150px;
}

.countdown-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:20px;
}
.days,.hours,.minutes,.seconds{
    background-color: #283042;
    border-radius: 10px;
    padding:10px;
    color:white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    justify-content:center;
    align-items: center;
    display:flex;
}


.text{
    margin:40px;
    margin-top: 40px;
    text-align:center;
}

h1, h2, h4{
    font-weight: 599!important;
    font-family:'Algerian',sans-serif!important;
}
h4{
    font-variant:small-caps;
}
h3{
    font-family:'Algerian',sans-serif!important;
}
.animate-box{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: absolute; 
    transform: translate3d(0px, 0px, 0px);
    padding-top:580px;
}

.animate-box span{
    display:block;
    width: 20px; 
    height: 20px;
    border:1.7px solid #383838;
    transform:rotate(45deg);
    animation: animate 3s infinite;
    
}

.animate-box span:nth-child(1){
    animation-delay:.2s;
}

.animate-box span:nth-child(2){
    animation-delay:.4s;
}
.animate-box span:nth-child(3){
    animation-delay:.6s;
}
@keyframes animate{
    0%{
        opacity: 1;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

.reporting{
    margin-bottom:35px;
    max-height:180vh;
    height:auto;
}

.video-section{
    align-items: center;
    justify-content: center;
    display: flex;
    height:30vh;
    /* height:30vh; original vid height */
}

.video-section:after {
    content: "";
    background: url("dino pieces/cit/2022 cit logo shell fragment 1.png") no-repeat 0 0/100%;
    opacity:0.4;
    width: 400px;
    height: 758px;
    position: absolute;
    bottom: -60px;
    right: 60px;
    transform: rotate(-15deg);
    z-index:-1;
}

.story-section{
    height: 55vh;
    text-align:justify;
}

.story-section:after {
    content: "";
    background: url("dino pieces/cit/2022 cit logo shell fragment 2.png") no-repeat 0 0/100%;
    opacity:0.4;
    width: 329px;
    height: 698px;
    position: absolute;
    bottom: -60px;
    left: 60px;
    transform: rotate(-15deg);
    z-index:-1;
}

.details-section:after {
    content: "";
    background: url("dino pieces/cit/2022 cit logo shell fragment 3.png") no-repeat 0 0/100%;
    opacity:0.4;
    width: 359px;
    height:700px;
    position: absolute;
    bottom: 45px;
    left: 40px;
    transform: rotate(-150deg);
    z-index:-1;
}

.pop_desc{
    padding:20px;
    text-align:justify;
}

#onyx {
    display: inline-block;
}

#onyx-clickable {
    display: none;
}

.houses-section {
    text-align: center;
    height: auto;
} 

.houses-section:after {
    content: "";
    background: url("dino pieces/cit/2022 cit logo shell fragment 2.png") no-repeat 0 0/100%;
    opacity:0.4;
    width: 329px;
    height: 698px;
    position: absolute;
    top: -100px;
    right: 50px;
    transform: rotate(45deg);
    z-index:-1;
}

.sponsors-section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height:auto;
}
.Trailer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top:20px;
}

.temp-text{
    padding-top:30px;
}
.responsive_story{
    max-width: 70%;
    height:auto;
    margin:auto;
    display: block;
}

.dino {
    transition: box-shadow 0.3s;
    margin: 4px -1px;
}

.dino:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

  
.scroll-up.show{
   right:10px;

}

nav {
    position: fixed;
    background-color: #eeeeee;
    padding: 20px;
    height: 84px;
    width: 100%;
    min-width: 200px;
    z-index: 1;
}

#sutd-logo {
    padding: 5.07px;
}

#menu {
    float: right;
}

#menu li {
    display: inline-block;
    padding: 10px;
}

#menu li a {
    color: #000000;
    text-decoration: none;
}

.blanks {
    height: 84px;
    width: 100%;
    opacity: 0;
}

.scrollup{
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    line-height: 48px;
    width: 55px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* hide scrollup btn by default */
    opacity: 0;
    transform: translateY(100px);
    /* and a transition */
    transition: all .6s ease;
    z-index: 1;
}

.scrollup:hover{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   outline: none;
} 

.displaybtn {
    opacity: 1;
    transform: translateY(0);
}

#Jewel {
    height: 35vw;
    width: 40vw;
    position: absolute;
    top: calc(50% - 130px);
}

.card_video {
    --size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 100px;

}

/* This styles the 3D object inserted in the Jewel container */

#Jewel model-viewer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

#houses {
    padding-inline-start: 0;
    padding-top:30px;
}

#houses li {
    display: inline-block;
    align-content: center;
    vertical-align: middle;
}

#houses li ul {
    padding-left:0px;
}

.accordion-button:focus {
    box-shadow: none!important;
}
.accordion-button:focus-visible {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%)!important;
}
.accordion-body{
    text-align:justify;
}

#gMap {
    text-align: center;
}

.sponsors-icons img {
    height: 50px;
}

/*footer reference from ori 2020 footer*/
#foot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
    background-color:#eeeeee;
}
footer {
    display: block;
}
.fa-instagram{
    color:#383838;
}
.fa-instagram:hover{
    color:#000080;
}
#foot-logo{
    width: 150px;
}

#TnC {
    color: #808080;
}

/*small devices*/

@media screen and (max-width:576px){
    
    h1{
        font-size:25px!important;
    }
    h2{
        font-size:22px!important;
    }
    h3{
        font-size:19px!important;
    }
    h4{
        font-size:15px!important;
    }
   
    .date{
        font-size:95%;
    }
    
    .animate-box{
        margin-bottom: 500px;
    }
    
    .animate-box span{
        display:block;
        width: 20px; 
        height: 20px;
        border:1.5px solid #383838;
        transform:rotate(45deg);
        animation: animate 3s infinite;
    }
    .Trailer{
        padding-top:80px;
    }
    .responsive{
        width:40%;
    }
    .responsive-title{
        width:85vw;
        padding-top:100px;
    }
    #Jewel {
        height: 250px;
        width: 350px;
        position: relative;
        top: calc(50% - 150px);
    }
    #Jewel model-viewer {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
    }
    .maps{
        width:90%;
        height:200px;
    }
    .text{
        margin:20px;
        margin-top: 40px;
    }

    .details-section, .houses-section {
        text-align: center;
        height: auto;
    } 

    .countdown-section{
        height:auto;
        padding-top: 70px;
    }
    .story-section{
        text-align:justify;
    }
    #houses li ul {
        width: 100vw;
    }
    .dino{
        width:40vw;
    }
    .responsive-iframe{
        position:relative;
        overflow:hidden;
        width:100%;
    }
    #foot{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding:20px;
    }
    #background-video {
        height:110vh;
    }

    .vid:before{
        height:110vh;
    }

}

@media screen and (max-width:576px) and (orientation:landscape){
    .responsive-title {
        width:80vw;
        padding-top:600px;
    }
    #background-video {
        height:200vh;
    }

    .vid:before{
        height:200vh;
    }
    .maps{
        width:80%;
    }
    .animate-box{
        margin-top: 500px;
    }
}

/*Medium Devices*/
@media screen and (max-width:768px){
    h3{
        font-size:16px!important;
    }
    .animate-box{
        margin-top: 600px;
    }
    
    #background-video {
        height:80vh;
    }

    .vid:before{
        height:80vh;
    }
    
    .Trailer{
        margin-top:50px;
    }
    #Jewel {
        top: calc(50% - 60px);
    }
    
    .maps{
        width:500px;
    }
    .video-section{
        height:auto;
        /* height:80vh original */
    }
    .story-section{
        height:auto;
        text-align:justify;
    }
    #story {
        text-align: justify;
    }
    #prg {
        max-width: 95vw;
        padding-left: 5vw;
    }
    .details-section{
        height:auto;
    }
    .houses-section {
        text-align: center;
        height: auto;
    }
    
    .responsive-title{
        width:95vw;
        padding-top:120px;
    }
    .responsive_story{
        margin-top: 30px;
    }
    .responsive{
        width:30%;
    }    
    .text{
       font-size:70%;
    }
    #foot-logo{
        width: calc(32px + 12vw);
    }
    #footer-bottom{
        flex-direction: column;
        align-items: start;
    }
    #footer-top{
        padding: 10px 100px;
        font-size: 16px;
    }
    @keyframes float {
        0%{
            transform: translateY(-350px) rotate(0deg);
            opacity: 1;
            bottom:-100px
        }
        50%{
            transform: translateY(-2400px) rotate(180deg);
            opacity: 0.8;
        }
        100%{
            transform: translateY(-3400px) rotate(360deg);
            opacity: 0;
        }
    }
    .houses-section:after {
        width: 249px;
        height: 529px;
        top: -100px;
        right: 60px;
        z-index:-1;
    }
    .story-section:after {
        width: 249px;
        height: 529px;
        top: -150px;
        left: 60px;
        z-index:-1;
    }
    .video-section:after {
        width: 249px;
        height: 529px;
        bottom: 10px;
        right: 60px;
        z-index:-1;
    }
    nav ul#menu {display: none;}
    nav img#hamburg-menu {display: inline-block;}
}

@media screen and (max-width:768px) and (orientation:landscape){
    #background-video {
        height:190vh;
    }

    .vid:before{
        height:190vh;
    }
    .animate-box{
        margin-top: 120px;
    }
    .responsive-title{
        width:85vw;
        padding-top:80px;
    }
}

/*large devices*/
@media  screen and (min-width:769px) and (max-width:1200px){
    .text{
        font-size:70%;
        text-align: justify;
     }
     
     .animate-box{
         padding-top: 720px;
     }
     
     .Trailer{
         margin-top:50px;
     }
 
     .countdown-section{
         height:auto;
     }
     
     .video-section{
         align-items: center;
         justify-content: center;
         display: flex;
     }

     .story-section{
        height:auto;
        text-align:justify;
    }
    .pop_desc{
         font-size:14px;
         padding:25px;
    }
    .responsive-title{
        width:80vw;
        padding-top:30px;
    }
    #background-video {
        height:58vh;
    }

    .vid:before{
        height:58vh;
    }
    #Jewel {
        top: calc(100% - 10px);
    }
}

@media screen and (min-width:769px) and (max-width:1200px) and (orientation:landscape){
    #background-video {
        height:75vh;
    }

    .vid:before{
        height:75vh;
    }
    .animate-box{
         padding-top: 670px;
     }
}

@media screen and (min-width:1440px){
    .animate-box{
        padding-top:620px;
    }
    #background-video {
        height:75vh;
    }

    .vid:before{
        height:75vh;
    }
    
}
#hamburg-menu {
    display: none;
    width: 35px;
    float: right;
    border: 0;
}

#hamburg-menu:hover {
    cursor: pointer;
}
